CMakeUserPresets.json
.vscode/c_cpp_properties.json
.vscode/settings.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/boolean_simplify.sln
build/boolean_simplify.vcxproj
build/boolean_simplify.vcxproj.filters
build/Boost-release-x86_64-data.cmake
build/Boost-Target-release.cmake
build/BoostConfig.cmake
build/BoostConfigVersion.cmake
build/BoostTargets.cmake
build/BZip2-release-x86_64-data.cmake
build/BZip2-Target-release.cmake
build/BZip2Config.cmake
build/BZip2ConfigVersion.cmake
build/BZip2Targets.cmake
build/cmake_install.cmake
build/CMakeCache.txt
build/cmakedeps_macros.cmake
build/CMakePresets.json
build/conan_toolchain.cmake
build/conanbuild.bat
build/conanbuildenv-release-x86_64.bat
build/conandeps_legacy.cmake
build/conanrun.bat
build/conanrunenv-release-x86_64.bat
build/deactivate_conanbuild.bat
build/deactivate_conanrun.bat
build/FindBZip2.cmake
build/FindZLIB.cmake
build/highs-config-version.cmake
build/highs-config.cmake
build/highs-release-x86_64-data.cmake
build/highs-Target-release.cmake
build/highsTargets.cmake
build/module-BZip2-release-x86_64-data.cmake
build/module-BZip2-Target-release.cmake
build/module-BZip2Targets.cmake
build/module-ZLIB-release-x86_64-data.cmake
build/module-ZLIB-Target-release.cmake
build/module-ZLIBTargets.cmake
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/ZLIB-release-x86_64-data.cmake
build/ZLIB-Target-release.cmake
build/ZLIBConfig.cmake
build/ZLIBConfigVersion.cmake
build/ZLIBTargets.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-f322194404db9c03082c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-1b1b4ca8f48b2aaa3904.json
build/.cmake/api/v1/reply/codemodel-v2-076a7c38235a8e41082b.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-04-17T01-40-45-0776.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-489d59bce907db64e3af.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-489d59bce907db64e3af.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-489d59bce907db64e3af.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-489d59bce907db64e3af.json
build/.cmake/api/v1/reply/target-boolean_simplify-Debug-bbc7041dd05d79c9e844.json
build/.cmake/api/v1/reply/target-boolean_simplify-MinSizeRel-69d954ca7ca757c990de.json
build/.cmake/api/v1/reply/target-boolean_simplify-Release-72f1a327d9c0281d9252.json
build/.cmake/api/v1/reply/target-boolean_simplify-RelWithDebInfo-96daec64731227143f10.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-4c64bb86fb6d9752461a.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-4c64bb86fb6d9752461a.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-4c64bb86fb6d9752461a.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-4c64bb86fb6d9752461a.json
build/.cmake/api/v1/reply/toolchains-v1-409da3c6dfc59f03e881.json
build/boolean_simplify.dir/Release/boolean_simplify.exe.recipe
build/boolean_simplify.dir/Release/main.obj
build/boolean_simplify.dir/Release/boolean_simplify.tlog/boolean_simplify.lastbuildstate
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CL.command.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/Cl.items.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CL.read.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CL.write.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CustomBuild.command.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CustomBuild.read.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/CustomBuild.write.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/link.command.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/link.read.1.tlog
build/boolean_simplify.dir/Release/boolean_simplify.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.2/CMakeCCompiler.cmake
build/CMakeFiles/3.29.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.2/CMakeSystem.cmake
build/CMakeFiles/3.29.2/VCTargetsPath.txt
build/CMakeFiles/3.29.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.29.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.29.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.29.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.29.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.29.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.29.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.29.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/e28c556c87c00d043626eddf799f32c1/generate.stamp.rule
build/Release/boolean_simplify.exe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
